input {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 7px 11px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  margin: 3px;
  font-size: 14px;
}

input:focus {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

button {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  margin: 3px;
  cursor: pointer;
  text-transform: capitalize;
}

button:focus {
  outline: 0;
}

button[data-type='primary'] {
  background-color: #1890ff;
  border-color: #1890ff;
}

button[data-type='danger'] {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.container {
  padding: 12px 4px;
  max-width: 500px;
}
